@use 'base/variables' as v;
@use 'base/mixins' as m;

.busqueda {
    background-color: v.$grisClaro;
    padding: 5rem 0;

    &__heading {
        
        @include m.heading;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @include m.tablet {
        @include m.grid(4, 2rem);
    }

    &__campo {
        border: 1px solid lighten( v.$gris, 50% );
        margin-bottom: 2rem;
        outline: none;
        padding: 1rem;

        @include m.tablet {
            margin-bottom: 0;
        }
    }

    &__submit {
        @include m.boton(v.$primario, v.$blanco);
        margin-top: 0;
    }
}